
html {
	min-height: 100%;
	background: white;
}

body {
	background: PowderBlue;
	width: 800px;
	text-align: center;
	left: 50%;
	position: relative;
	margin-left: -400px;
}

.titulo {
	background: DodgerBlue;
	margin: auto;
	height: 80px;	
	padding-top: 1px;
	padding-bottom: 20px;
}

.menu {
	background: LightSkyBlue;
	margin-top: -22px;
	height: 40px;
	padding-top: 15px;
}

a:link {   
 	text-decoration:none;   
}  

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.recetas {
	position: relative;
	width: 300px;
	background: RoyalBlue;
	left: 50%;
	margin-left: -150px;
	bottom: 10px;
}

.img {
	position: relative;
	width: 200px;
	height: 200px;
	margin-left: 25px;
}

.formulario {
	position: relative;
	left: 50%;
	background-color: RoyalBlue;
	display: block;
	width: 200px;
	margin-left: -100px;
	margin-top: 20px;
	margin-bottom: 1px;
	padding: 10px;
	bottom: 10px;
	
}

.formulario2 {
	position: relative;
	left: 50%;
	background-color: RoyalBlue;
	display: block;
	width: 500px;
	margin-left: -250px;
	margin-top: 20px;
	margin-bottom: 1px;
	padding: 10px;
	bottom: 10px;
	
}

.detalle {
	position: relative;
	background-color: RoyalBlue;
	text-align: center;
	width: 500px;
	margin: auto;
	padding: 0;
	bottom: 10px;
}

.detalle .img {
	margin-left: 0;
}

