<!DOCTYPE html>

<html>
<head>
  	<meta charset="utf-8">
  	<title>Recetario PHP</title>
  	<base href="/ejerciciosphp/recetarioPHP/">
  	<link rel='stylesheet' href="./static/apprecetario/css/style.css">
</head>

<body>
	<div class="titulo">
  		<h1>Recetario en PHP</h1>
  	</div>
  	<div class="menu">
	    {% if session.id %}
	    	Usuario: <span class="user">{{session.user}}</span> | 
	    {% else %}
	    	<a href="login.php">Entrar</a> | 
	    	<a href="register.php">Registrarse</a> |
	    {% endif %}
	    <a href="index.php">Listado</a> 
	  	{% if session.id %}
	  		| <a href="nueva_receta.php">Añadir</a> |
	  		<a href="logout.php">Salir</a>
	  	{% endif %}
	  	
  	</div>

  	{% block contenido %}{% endblock %}
  	
</body>
</html>