{% extends "base.html" %}

{% block contenido %}
<div class="detalle">
  	<h2>{{receta.nombre}}</h2>
  	<h3>{{receta.tipo}}</h3>
  	

  	<img class="img" src="static/{{receta.imagen}}"></br>
  	{% if session.id and session.id == receta.userid_id or session.id == 1 %}
  		<a href="modificar.php?id={{receta.id}}">Editar</a>
    	<a href="borrar.php?id={{receta.id}}">Eliminar</a>
  	{% endif %}
  	<ul>
    	{% for i in ingredientes %}
    		<li>{{i.nombre}}</li>
    	{% endfor %}
  	</ul>
  	<p>{{receta.elaboracion}}</p>
  	<p>Tiempo: {{receta.tiempo}}</p>
  	
</div>
{% endblock %}