{% extends "base.html" %}

{% block contenido %}
{% if recetas %}
  	<ul class="recetas">
  	{% for receta in recetas %}
    	<li>
    		<h2>{{receta.nombre}}</h2>
      	 	<div class="img"><img class="img" src="static/{{receta.imagen}}"></div>
			<button><a href="detalle.php?id={{receta.id}}">Detalle</a></button>
      		{% if session.id and session.id == receta.userid_id or session.id == 1 %}
        		| <button><a href="modificar.php?id={{receta.id}}">Editar</a></button> |
        		<button><a href="borrar.php?id={{receta.id}}">Eliminar</a></button>	
      		{% endif %}
    	</li>
  	 	{% endfor %}
  	</ul>
  	
	{% else %}
  		<div>No hay recetas almacenadas en la base de datos</div>
	{% endif %}
	
{% endblock %}