{% extends "base.html" %}

{% block contenido %}

<div class="formulario">
  	<h2>Entrar</h2>
  
  	<form action="login.php" method="post">
    	<p><label for="user">Usuario</label>
    	<input type="text" name="user" required></p>
    	<p><label for="pass">Contraseña</label>
    	<input type="password" name="pass" required></p>
    	<input type="submit" value="Entrar">
  	</form>
</div>

{% endblock %}