{% extends "base.html" %}

{% block contenido %}
<div>
	<h2>Modificar receta</h2>

  	<form action="modificar.php" method="post" enctype="multipart/form-data">
	    <input type="hidden" name="id" value="{{datos.receta.id}}">
	    <p><label for="nombre">Nombre</label>
	    <input type="text" name="nombre" value="{{datos.receta.nombre}}" required></p>
	    <p><label for="tipo">Tipo</label>
	    <select name="tipo">
	    	{% for tipo in datos.tipos %}
	     		{{tipo|raw}}
	      	{% endfor %}
	    </select></p>
	    <p><label for="ing">Ingredientes</label></br>
	    <textarea name="ing" rows="3" cols="50" required>{{datos.ingredientes}}</textarea></p>
	    <p><label for="ela">Elaboración</label></br>
	    <textarea name="ela" rows="6" cols="50" required>{{datos.receta.elaboracion}}</textarea></p>
	    <p><label for="tiempo">Tiempo</label>
	    <input type="text" name="tiempo" value="{{datos.receta.tiempo}}" required></p>
	    <p><label for="img">Imagen</label>
	    <input type="file" name="img"></p>
	    <input type="submit" value="Guardar">
  	</form>
</div>

{% endblock %}