{% extends "base.html" %}

{% block contenido %}
<div class="formulario2">
  	<h2>Añade una receta</h2>
  
  	<form action="nueva_receta.php" method="post" enctype="multipart/form-data">
	    <p><label for="nombre">Nombre</label>
	    <input type="text" name="nombre" required></p>
	    <p><label for="tipo">Tipo</label>
	    	<select name="tipo">
	      		<option value="Entrante">Entrante</option>
	      		<option value="Primero">Primero</option>
	      		<option value="Segundo">Segundo</option>
	      		<option value="Postre">Postre</option>
	    	</select></p>
	    <p><label for="ing">Ingredientes</label>
	    <textarea name="ing" rows="2" cols="60" required></textarea></p>
	    <p><label for="ela">Elaboración</label>
	    <textarea name="ela" rows="10" cols="60" required></textarea></p>
	    <p><label for="tiempo">Tiempo</label>
	    <input type="text" name="tiempo" required></p>
	    <p><label for="img">Imagen</label>
	    <input type="file" name="img" required></p>
	    <input type="submit" value="Guardar">
  	</form>
</div>
{% endblock %}